@import "./reset";

@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}

@import "../components/CardSelection/CardSelection.scss";
@import "../components/CardDisplay/CardDisplay.scss";

@import "./card";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.app-title {
  font-size: 3em;
  text-align: center;
}

.btm-part {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  @include mobile {
    flex-direction: column;
    justify-content: flex-start;
  }
  .reset-button {
    background-color: lightcoral;
    cursor: pointer;
    font-size: 1.5em;
    padding: 0.5em;
    border-radius: 0.5em;
  }

  .reset-button:hover {
    opacity: 0.9;
  }
  .card-display {
    margin: 1em;
    .answer {
      font-size: 2em;
      font-weight: 600;
      text-align: center;
    }
  }

  .calculate-button {
    background-color: lightgreen;
    cursor: pointer;
    font-size: 1.5em;
    padding: 0.5em;
    border-radius: 0.5em;
  }

  .calculate-button:hover {
    opacity: 0.9;
  }
}
